.c-error-message {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: $space-big;
  color: $red;
  &__icon {
    font-size: 38px;
  }
  &__title {
    text-align: center;
  }
  &__text {
    color: $grey-dark;
  }
}
