.c-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: $space;
  background-color: $primary-color;
  &__img {
    height: 20px;
  }
  &__back-button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
    color: $accent-color;
    font-size: 20px;
    transition: color 0.3s linear;
    &:hover {
      color: lighten($accent-color, 15%);
    }
  }
}
