.c-meal-selection {
  z-index: 20;
  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: $space-small $space;
    background-color: $secondary-color;
    color: white;
    transition: background-color 0.2s linear;
    .title {
      flex: 1 1 auto;
      margin: 0;
      font-weight: 300;
    }
    .duration {
      margin-right: $space;
      font-size: 14px;
    }
    .icon {
      cursor: pointer;
    }
  }
  &__details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: $space;
    .item {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      &__icon {
        margin-bottom: $space-smallest;
        color: $secondary-color;
        font-size: 26px;
      }
      &__airport {
        margin-bottom: $space-small;
        font-size: 12px;
      }
    }
  }
  &__meals {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: $space-big;
    .c-meal {
      flex: 1 1 auto;
    }
  }
  &__bid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: $space-big;
    .c-bid-control {
      flex: 1 1 auto;
    }
  }
  &__footer {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 $space-big $space-big;
  }
}
