.c-output-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: $space-big;
  background-color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  .icon {
    cursor: pointer;
    position: absolute;
    top: $space;
    right: $space;
  }
  &--show {
    transform: translateY(0);
  }
}
