@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: CrimsonText;
  src: url(assets/fonts/Crimson-Text/CrimsonText-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CrimsonText;
  src: url(assets/fonts/Crimson-Text/CrimsonText-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: CrimsonText;
  src: url(assets/fonts/Crimson-Text/CrimsonText-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CrimsonText;
  src: url(assets/fonts/Crimson-Text/CrimsonText-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
