// Colors
$primary-color:   #00205b;
$secondary-color: #0033a0;
$accent-color:    #ff8200;
$red:             #B33A3A;
$grey-dark:       #333333;
$grey:            #666666;
$grey-light:      #cccccc;
$grey-lighter:    #f6f6f6;

// Space
$space-smallest:  5px;
$space-small:     10px;
$space:           15px;
$space-big:       30px;
$space-biggest:   60px;

// Fonts
$font-sans:   'Montserrat', sans-serif;
$font-serif: 'Crimson-Text', serif;
